
<!-- <script src="details.js"></script> -->
<div style="margin-left: 100px">
<table   datatable [dtOptions]="dtOptions"  id="myTable" class="table table-striped table-bordered table-sm row-border hover"  >
  <thead>
    <tr>
        <th>Item id </th>
      <th>Item code </th>
      <th> Item Name</th>
      <th>Item Price</th>
      <th>Item Qantity</th>
      <th>Item Image</th>
      <th>Item Edit</th>
      <th>Item Delete</th>
   
    </tr>
  </thead>
  <tbody>
   <tr *ngFor="let it of item">
      <td>{{it.id}}</td>
         <td>{{it.code}}</td>
         <td>{{it.name}}</td>
         <td>{{it.price}}</td>
         <td>{{it.quantity}}</td>
         <td><input type="button" value="show"  [routerLink]="['/view',it.id]"> </td>
         <td><input type="button" value="Edit"   [routerLink]="['/edit',it.id]"></td>
         <td><input type="button" value="Delete" (click)="delete(it.id)"/></td>
     </tr>
  </tbody>
</table>
</div>