<nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/web" routerLinkActive="active">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="navbar-brand" routerLink="/home" routerLinkActive="active">Home</a></li>
        
            <li><a class="navbar-brand" routerLink="/nreg" routerLinkActive="active">New Registration</a></li>
            <li><a  href="#">Role</a></li>
         
       
      </ul>
      <ul class="nav navbar-nav navbar-right">
      
        <li><a routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>
    
  <router-outlet></router-outlet>