<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      
      <a><img src="assets/logo.png" class="img-rounded" style="height: 100px;"></a>
      <a class="navbar-brand" href="#"  style="margin-left: 40px;margin-right: 40px">NiKe</a>
      <a routerLink="/bill" routerLinkActive="active" style="margin-left: 40px;margin-right: 40px">billing  </a>
      <a routerLink="/billc" routerLinkActive="active"style="margin-left: 40px;margin-right: 40px">View sale details</a>
      <a routerLink="/current" routerLinkActive="active">Current Stack</a>
      <a routerLink="/page" routerLinkActive="active">nothing</a>
    </div>
    
  </div>
</nav>
  
<div class="container">
  </div>
<router-outlet></router-outlet>
