
<div class="row" style="margin-left: 143px">
    <p appHighlight>Highlight me!</p>
  <div class="col-md-6">
      <h2>Item Detatils</h2> 
      
  

    <form name="myForm" id=renewalrptForm  #renewalrptForm="ngForm">

      <div class="form-group" class="form-horizontal">   
      <label class="control-lable col-md-4" for="code" > Item Code:</label>
      <div class="col-md-8">
       <input type="text" name="code" id="code" #codeRef="ngModel" pattern="^[1-9][0-9]{2}$"  required  class="form-control" [(ngModel)]="itemModel.code" 
       [ngClass]="{
        'is-invalid': codeRef.invalid && codeRef.dirty, 
        'is-valid': codeRef.valid && codeRef.dirty
      }">
      
       <!-- <div *ngIf="codeRef.errors && (codeRef.dirty || codeRef.touched )" class="alert alert-danger">
         
          <div [hidden]="!codeRef.errors.pattern">
          
              please enter a 3 digit number
                
      </div>
              
      </div> -->
      <div *ngIf="codeRef.invalid && (codeRef.dirty || codeRef.touched)" style="color:red">
        <div [hidden]="!(codeRef.errors.pattern ||codeRef.errors.required )" class="alert alert-danger">
            please enter must 3 digit number
        </div>
        
         
      </div>

      


      </div> 
       </div>

       <div class="form-group">
          <label class="control-lable col-sm-2" for="name" >Item name:</label>
          <div class="col-sm-8">
              <select name="name" #nameRef="ngModel" required id="name"   (change)="onChangename($event.target.value)" class="form-control"  [(ngModel)]="itemModel.name"
              [ngClass]="{
                'is-invalid': nameRef.invalid && nameRef.dirty, 
                'is-valid': nameRef.valid && nameRef.dirty
              }"  >
                  <option value="">----Select---</option>
                  <option *ngFor=" let name of nameList" [value]="name.id">{{name.brandname}}</option>
              </select>
 
              <div *ngIf="nameRef.invalid && (nameRef.dirty || nameRef.touched)" style="color:red">
                  <div [hidden]="!(nameRef.errors.pattern ||nameRef.errors.required)" class="alert alert-danger">
                      please enter the number
                  </div>
                  
                   
                </div>

      </div>
      </div>
      <div class="form-group">
          <label class="control-lable col-sm-2" for="price" >Item Price:</label>
          <div class="col-sm-8">
         <input type="text" name="price" id="price" #priceRef="ngModel" pattern="^[0-9]*$"  required  class="form-control" [(ngModel)]="itemModel.price"   (change)="sum(itemModel)"
         [ngClass]="{
            'is-invalid': priceRef.invalid && priceRef.dirty, 
            'is-valid': priceRef.valid && priceRef.dirty
          }">
         <div *ngIf="priceRef.invalid && (priceRef.dirty || priceRef.touched)" style="color:red">
            <div [hidden]="!(priceRef.errors.pattern ||priceRef.errors.required)" class="alert alert-danger">
                please enter the number
            </div>
            
             
          </div>
         </div>
         </div>
  

       <div class="form-group">
          <label class="control-lable col-md-4" required for="quantity" >Item Quantity:</label>
          <div class="col-sm-8">
        <input type="text" name="quantity" id="quantity" #quantityRef="ngModel" pattern="^[0-9]*$"  required  class="form-control" [(ngModel)]="itemModel.quantity"   (change)="sum(itemModel)"
        [ngClass]="{
            'is-invalid': quantityRef.invalid && quantityRef.dirty, 
            'is-valid': quantityRef.valid && quantityRef.dirty
          }">
          <div *ngIf="quantityRef.invalid && (quantityRef.dirty || quantityRef.touched)" style="color:red">
            <div [hidden]="!(quantityRef.errors.pattern || quantityRef.errors.required)" class="alert alert-danger">
                please enter the number
            </div>
            
             
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-lable col-md-4" required for="quantity" >Item Total:</label>
        <div class="col-sm-8">
      <input type="text" name="Total" id="Total" #TotalRef="ngModel" pattern="^[0-9]*$"  required  class="form-control"  ng disabled="itemModel.Total" [(ngModel)]="itemModel.Total" >
       
          
           
        </div>
      </div>
  

      
      
      <div class="form-group">
        <label class="control-lable col-sm-2" for="price">Item Image:</label>
        
       <input type="file" name="urlpath" (change)="getFileDetails($event)" [(ngModel)]="itemModel.ur"  />
    
       </div>
     

<!-- <div class="form-group">
    <label for="file">Choose File</label>
    <input type="file"
           id="file"
           (change)="handleFileInput($event.target.files)">
</div> -->
       <div class="form-group" style="margin-left: 29%;margin-top: 45px;">
      <input type="button"  class="btn btn-success" style="margin-right: 100px;margin-left: 0px" value="Back" routerLink="/details" routerLinkActive="active">
       <button type="submit" class="btn btn-success" (click)="show(itemModel)" [disabled]="renewalrptForm.invalid">Submit</button>
       <button type="submit" class="btn btn-danger" (click)="cancel()" style="margin-left: 82px;" [disabled]="renewalrptForm.pristine">clear</button>
              </div>
             
    </form>
  </div>
 <!-- <div class="col-md-6" >
   <h1>debug</h1>
   <pre>{{ renewalrptForm | json}}</pre>
 </div> -->
</div>

